{% extends 'base.html' %}
{% block content %}
<div class="about_us">
    <div class="container-fluid mt-5 pt-4">
        <div class="row">
            <div class="col-md-1">
                <hr/>
            </div>
            <div class="col-md-2">
                <h1 class="about_topic">ABOUT US</h1>

            </div>
            <div class="col-md-9">
                <hr/>
            </div>
        </div>
    </div>

        <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                 <p class="paragraphs">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry'
        s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
        like Aldus PageMaker including versions of Lorem Ipsum</p>
                <button type="button" class="btn btn-primary">More details</button>

            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4 boar">
               <h1 class="board mt-3">Board of <span>Director</span></h1>
                <div class="imag mt-4">
                    <img src="../../static/images/a.png">

                    <p class="mt-4">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry'
        s standard dummy text ever since the 1500s, when an unknown printer</p>

                    <h1 class="board">Suman Rai</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-6 mt-3" style="margin-left: 18px;" >

                                &nbsp &nbsp &nbsp<a href="#"><i class='fa fa-facebook fa-2x' style='color: blue'></i></a>
                                    &nbsp &nbsp
                                <a href="#"><i class='fa fa-twitter fa-2x' style='color:#2df7fb'></i></a>
                                    &nbsp &nbsp
                                <a href="#"> <i class='fa fa-instagram fa-2x' style='color:#2yf7fb'></i></a>

                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}