{% extends 'Dashboard.html' %}
{% block content %}
<div class="col-md-9 check">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-5">
            </div>
            <div class="col-md-5 btncategory">
                <a href="/oldschool"><button type="button" class="btn btn-primary mt-5 mr-4">SEE Passed</button></a>
                <a href="/recommend"><button type="button" class="btn btn-primary mt-5 mr-2">+2 Passed</button></a>
            </div>
            <div class="col-md-2">
            </div>
              <H1 class="studentcategory">Which Category Students Are You</H1>
        </div>
        <h1 class="note_check"> Note: Please insert right school name and location because it occurs only once</h1>
    </div>
</div>
{% endblock %}