{% extends 'base.html' %}
 {% block content %}
<div class="contact_us">

    <div class="container-fluid mt-5 pt-4">
        <div class="row">
            <div class="col-md-1">
                <hr/>
            </div>
            <div class="col-md-2">
                <h1 class="about_topic">GET IN TOUCH</h1>
            </div>
            <div class="col-md-9">
                <hr/>
            </div>
        </div>
    </div>

 <div class="container">
  <div class="row">
   <div class="col-md-4">
 <img src="../../static/images/add.webp" style="height:60px; width:60px; margin-top:70px; margin-left:130px;">
       <h1 class="addr">Address</h1>
       <p class="phn">Chabehel, Kathmandu</p>
       <p class="phn">near helping hands Hospital</p>

   </div>
   <div class="col-md-4">
<img src="../../static/images/phon.png" style="height:60px; width:60px; margin-top:130px; margin-left:130px;">
        <h1 class="phon">Phone</h1>
       <p class="phn">01-103242</p>
       <p class="phn">9823436442,9810344643</p>
   </div>
   <div class="col-md-4">
<img src="../../static/images/mess.png" style="height:60px; width:60px; margin-top:70px; margin-left:130px;">
        <h1 class="messag">Message</h1>
       <p class="phn">Email:collegerecommender@gmail.com</p>
       <p class="phn">facebook/collegerecommender</p>
       <p class="phn">instagram/collegerecommender</p>
   </div>
  </div>
 </div>

</div>
{% endblock %}




