{% extends 'base.html' %}
{% block content %}
<div class="img_log">
<div class="container">
  <div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4 bg-primary mt-5 text-light cover">
      <div class="form mt-5 border-rounded">
        <h3 class="alert alert-light border rounded p-2">LogIn Details</h3>
        <form action="/login" method="POST">
          {% if error %}
          <div class="alert alert-success" role="alert">{{error}}</div>
          {% endif %} {% csrf_token %}
          <div class="form-group mt-4">
            <div class="form-group">
              <label for="">Email</label>
              <input
                required
                type="email"
                name="email"
                value="{{values.email}}"
                class="form-control form control-sm"
                placeholder="Enter your Email address"
              />
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input
                required
                type="password"
                name="password"
                class="form-control form-control-sm"
                placeholder="**********"
              />
            </div>
            <div class="form-group center-align">
              <input class="btn-lg"  type="submit" id="" value="LogIn" />
            </div>
            <a href="/signupages">
              <div class="form-group">
                <p style="color: white; font-size: 20px">
                  Does not have account?
                </p>
              </div>
            </a>

            <a href="/reset_user_password">
              <div class="form-group">
                <p style="color: white; font-weight: bold; font-size: 20px">
                  Forget Password?
                </p>
              </div>
            </a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
  </div>
<!--<script type="text/javascript">-->
<!--  let btn = document.querySelector('#btn');-->
<!--    btn.addEventListener('click',function() {-->
<!--    alert('It was clicked!');-->
<!--});-->

<!--</script>>-->

<!--<script type="text/javascript">-->
<!--  function clickme(){-->
<!--  swal("LogIn Successful")-->
<!--  }-->
<!--</script>-->

<!--<script>-->
<!--    document.querySelector('#form1').addEventListener('submit', function(e) {-->
<!--      var form = this;-->
<!--      e.preventDefault();-->

<!--      swal({-->
<!--          title: "Are you sure?",-->
<!--          text: "You will not be able to recover this imaginary file!",-->
<!--          icon: "warning",-->
<!--          buttons: [-->
<!--            'No, cancel it!',-->
<!--            'Yes, I am sure!'-->
<!--          ],-->
<!--          dangerMode: true,-->
<!--        }).then(function(isConfirm) {-->
<!--          if (isConfirm) {-->
<!--            swal({-->
<!--              title: 'Shortlisted!',-->
<!--              text: 'Candidates are successfully shortlisted!',-->
<!--              icon: 'success'-->
<!--            }).then(function() {-->
<!--              form.submit();-->
<!--            });-->
<!--          } else {-->
<!--            swal("Cancelled", "Your imaginary file is safe :)", "error");-->
<!--          }-->
<!--        });-->
<!--    });-->
<!--  </script>-->

  <style>
    .swal-button--confirm {
      background-color: #DD6B55;
    }
  </style>

{% endblock %}
