{% extends 'base.html' %}
{% block content%}
<div class="container-fluid resetpassword">
    <div class="row">
        <div class="col-md-1">

        </div>
         <div class="col-md-9 mt-5">
             <div class="container">
                 <div class="row">
                     <div class="col-md-4">

                     </div>
                     <div class="col-md-5 mt-5 chng_password">
                         <form action="/login" method="POST">
                            {% if error %}
                            <div class="alert alert-success" role="alert">{{error}}</div>
                                {% endif %} {% csrf_token %}
                         <div class="form-group mt-4">
                         <div class="container">
                             <div class="row">
                                 <label for="">New Password</label>
                                     <input required type="email" name="email" id="" value="{{values.email}}" class="form-control form control-sm" placeholder="Enter your Email address"/>
                                 <label for="">Confirm Password</label>
                                     <input required type="email" name="email" id="" value="{{values.email}}" class="form-control form control-sm" placeholder="Enter your Email address"/>

                                     <button type="button" class="btn btn-primary">Submit</button>


                             </div>
                         </div>
                        </div>
                         </form>
                     </div>
                     <div class="col-md-3">

                     </div>
                 </div>
             </div>
             <div class="instruction">
        <h1 class="note"><span>Note: </span>Enter your new password and remembered it or note it down, that make you easy for next time</h1></div>


        </div>
         <div class="col-md-2">

        </div>
    </div>
</div>
{% endblock %}